<main *ngIf="selectedMovie">
  <citrus-movies-movie-poster
    [poster]="selectedMovie.Poster"
  ></citrus-movies-movie-poster>

  <citrus-movies-go-back-button (goBack)="this.goBack.emit()"></citrus-movies-go-back-button>

  <citrus-movies-container [width]="'90%'">
    <section class="heading-wrapper" fxLayoutAlign="space-between center">
      <h3 class="title">{{ selectedMovie.Title }}</h3>
      <mat-icon matSuffix>movie</mat-icon>
    </section>

    <section class="watch-now-wrapper" fxLayoutAlign="space-between center">
      <div class="watch-now-button" matRipple fxLayoutAlign="center center">
        <span>WATCH NOW</span>
      </div>
      <citrus-movies-stars
        [starRatingbyImdb]="selectedMovie.starRatingbyImdb"
      ></citrus-movies-stars>
    </section>

    <citrus-movies-omdb-info
      [plot]="selectedMovie.Plot"
      [production]="selectedMovie.Production"
      [genre]="selectedMovie.Genre"
      [year]="selectedMovie.Year"
    ></citrus-movies-omdb-info>

    <citrus-movies-actors
      [actors]="selectedMovie.Actors"
    ></citrus-movies-actors>

    <citrus-movies-ny-times-info
      [nyTimesINFO]="selectedMovie.nyTimesINFO"
    ></citrus-movies-ny-times-info>
  </citrus-movies-container>
</main>
