.heading-wrapper {
  margin-top: 2rem;

  .title {
    font-size: 23px;
    margin: 0;
    color: white;
    font-weight: bold;
  }
}

mat-icon {
  color: #555555;
}

.watch-now-wrapper {
  margin-top: 1.5rem;
}

.watch-now-button {
  cursor: pointer;
  border-radius: 15px;
  background-color: #929292;
  padding: 6px 20px;

  span {
    color: white;
    font-weight: bold;
    font-size: 12px;
  }
}
