<main>
  <img src="assets/emptyImage.jpg" alt="emptyImage" />

  <citrus-movies-container [width]="'90%'">
    <section class="heading-wrapper" fxLayoutAlign="space-between center">
      <h3 class="title">Aquaman</h3>
      <mat-icon matSuffix>movie</mat-icon>
    </section>

    <section class="watch-now-wrapper" fxLayoutAlign="space-between center">
      <div class="watch-now-button" fxLayoutAlign="center center">
        <span>WATCH NOW</span>
      </div>
      <div class="stars" fxLayout fxLayoutGap="5px">
        <mat-icon matSuffix>star</mat-icon>
        <mat-icon matSuffix>star</mat-icon>
        <mat-icon matSuffix>star</mat-icon>
        <mat-icon matSuffix>star</mat-icon>
        <mat-icon matSuffix>star</mat-icon>
      </div>
    </section>

    <p class="plot">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam labore
      ipsum, illo soluta temporibus nesciunt incidunt nulla inventore repellat
      ipsam. Tempore minima magni, facere odio aspernatur temporibus? Ducimus
      saepe veniam itaque corrupti. Consectetur, quis repellat voluptatem minus,
    </p>
  </citrus-movies-container>
</main>
