<main *ngIf="movies">
  <citrus-movies-container [width]="'90%'" *ngIf="!isLoadingSearchMovies">
    <section class="heading-wrapper" fxLayoutAlign="space-between center">
      <p *ngIf="!isUserSearchingMovies" class="main-text">RECOMMENDED FOR YOU</p>
      <p *ngIf="isUserSearchingMovies" class="main-text">SEARCH RESULTS</p>
      <p class="secondary-text">See all</p>
    </section>

    <ngx-masonry [options]="{animations}">
      <citrus-movies-movie-card
        ngxMasonryItem
        *ngFor="let movie of movies"
        [movie]="movie"
        (onSelectMovie)="onSelectMovie.emit($event)"
      ></citrus-movies-movie-card>
    </ngx-masonry>

    <div *ngIf="movies.length === 0">
      <h1 class="no-movies-found-text">
        No movies found with given search term
      </h1>
    </div>
  </citrus-movies-container>

  <div class="loading-spinner-wrapper" *ngIf="isLoadingSearchMovies">
    <citrus-movies-container>
      <citrus-movies-loading-spinner></citrus-movies-loading-spinner>
    </citrus-movies-container>
  </div>
</main>
