<main *ngIf="homePageMovies">
  <citrus-movies-container [width]="'90%'" *ngIf="!isLoadingSearchMovies">
    <section class="heading-wrapper" fxLayoutAlign="space-between center">
      <p *ngIf="!isUserSearchingMovies" class="first">RECOMMENDED FOR YOU</p>
      <p *ngIf="isUserSearchingMovies" class="first">SEARCH RESULTS</p>
      <p class="secondary">See all</p>
    </section>

    <ngx-masonry [options]="{animations}">
      <citrus-movies-movie-card
        ngxMasonryItem
        *ngFor="let movie of homePageMovies"
        [movie]="movie"
        (onSelectMovie)="onSelectMovie.emit($event)"
      ></citrus-movies-movie-card>
    </ngx-masonry>

    <div *ngIf="homePageMovies.length === 0">
      <h1 style="color: white; margin-top: 2rem">
        No movies found with given search term
      </h1>
    </div>
  </citrus-movies-container>

  <div style="padding-top: 1rem" *ngIf="isLoadingSearchMovies">
    <citrus-movies-container [width]="'90%'">
      <citrus-movies-loading-spinner></citrus-movies-loading-spinner>
    </citrus-movies-container>
  </div>
</main>
