main {
  background-color: #273546;
  border-radius: 15px 15px 0 0;
  margin-top: -3rem;
  padding-bottom: 2rem;
}

.heading-wrapper {
  margin-top: 2rem;

  .main-text {
    color: #9eaec3;
    font-weight: bold;
    font-size: 15px;
  }

  .secondary-text {
    font-size: 15px;
    color: #4e5866;
  }
}

.no-movies-found-text {
  color: white;
  margin-top: 2rem;
}
.cards-wrapper {
  margin-top: 1rem;
}

.loading-spinner-wrapper {
  padding-top: 1rem;
}
