<main>
  <h3
    *ngIf="!nyTimesINFO"
    style="font-size: 22px; margin-top: 1rem"
    class="bold"
  >
    New York Times info not found
  </h3>

  <div *ngIf="nyTimesINFO" style="margin-top: 1rem">
    <h3 style="font-size: 22px" class="bold">Ny times info</h3>
    <div fxLayoutAlign="start center" style="margin-top: 1rem">
      <p fxFlex="40" class="bold">mpaa rating</p>
      <p style="color: #8b8b8b">
        {{ nyTimesINFO.mpaa_rating }}
      </p>
    </div>
    <div fxLayout>
      <p fxFlex="40" class="bold">Article</p>
      <a style="color: #8b8b8b" [href]="nyTimesINFO.link.url" target="_blank">{{
        nyTimesINFO.link.suggested_link_text
      }}</a>
    </div>
    <div fxLayout>
      <p fxFlex="40" class="bold">Critics pick</p>
      <p style="color: #8b8b8b">
        {{ nyTimesINFO.critics_pick }}
      </p>
    </div>
  </div>
</main>
