<main>
  <h3 *ngIf="!nyTimesINFO" class="bold">New York Times review not found</h3>

  <div *ngIf="nyTimesINFO">
    <h3 class="bold">Ny times review</h3>
    <div fxLayoutAlign="start center" class="mt-1">
      <p fxFlex="40" class="bold">mpaa rating</p>
      <p class="value-text">
        {{ nyTimesINFO.mpaa_rating }}
      </p>
    </div>
    <div fxLayout>
      <p fxFlex="40" class="bold">Review article</p>
      <a class="value-text" [href]="nyTimesINFO.link.url" target="_blank">{{
        nyTimesINFO.link.suggested_link_text
      }}</a>
    </div>
    <div fxLayout>
      <p fxFlex="40" class="bold">Critics pick</p>
      <p class="value-text">
        {{ nyTimesINFO.critics_pick }}
      </p>
    </div>
  </div>
</main>
