@import "../../styles.scss";
@include disable-auto-zoom-on-iphone-input-fields;

main {
  background-color: #5ba2d4;
}

h3 {
  font-weight: bold;
  font-size: 27px;
  color: white;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 40px;
}

form {
  margin-bottom: 6rem;

  input {
    color: white;
  }

  mat-icon {
    font-size: 1.3em;
  }
}
