
<main *ngIf="!(isLoading$ | async)">
  <citrus-movies-top-search
    (searchMoviesUserTyping)="onSearchMoviesUserTyping($event)"
  ></citrus-movies-top-search>
  <citrus-movies-home-page-movies-cards
    [movies]="movies$ | async"
    [isLoadingSearchMovies]="isLoadingSearchMovies$ | async | onlyBoolean"
    [isUserSearchingMovies]="isUserSearchingMovies$ | async | onlyBoolean"
    (onSelectMovie)="onSelectMovie($event)"
  ></citrus-movies-home-page-movies-cards>
</main>

<section *ngIf="isLoading$ | async" fxLayoutAlign="center center">
  <citrus-movies-loading-spinner></citrus-movies-loading-spinner>
</section>
