section {
  max-width: 9rem;
}

.card {
  cursor: pointer;
}

img {
  height: 13rem;
  width: 9rem;
  object-fit: cover;
  border-radius: 6px;
}

.title {
  margin: 0;
  margin-top: 5px;
  color: white;
  font-weight: bold;
}
